.main {
  width: 1000px;
  float: left;
}
.pawns {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  position: absolute;
  box-shadow: 0px 0px 2px 1px #000;
}
.board {
  background: url(../assets/Images/board.svg) no-repeat;
  background-size: cover;
  width: 600px;
  height: 600px;
  float: left;
  margin-top: 8px;
}
.uselesstext1 {
  float: left;
  padding-right: 4px;
}
footer {
  font-size: larger;
  color: darkred;
}
.dice {
  background-image: url(../assets/Images/dice.gif);
  background-size: contain;
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 10px;
  margin-right: 20px;
}
.dice-1 {
  background-image: url(../assets/Images/1.png);
}
.dice-2 {
  background-image: url(../assets/Images/2.png);
}
.dice-3 {
  background-image: url(../assets/Images/3.png);
}
.dice-4 {
  background-image: url(../assets/Images/4.png);
}
.dice-5 {
  background-image: url(../assets/Images/5.png);
}
.dice-6 {
  background-image: url(../assets/Images/6.png);
}
.red {
  background-color: #a00606;
}
.blue {
  background-color: darkslateblue;
}
.green {
  background-color: green;
}
.yellow {
  background-color: #c5c501;
}

.redpawn1 {
  top: 155px;
  left: 464px;
}
.redpawn2 {
  top: 112px;
  left: 425px;
}
.redpawn3 {
  top: 72px;
  left: 462px;
}
.redpawn4 {
  top: 112px;
  left: 503px;
}
.yellowpawn1 {
  top: 473px;
  left: 67px;
}
.yellowpawn2 {
  top: 473px;
  left: 145px;
}
.yellowpawn3 {
  top: 433px;
  left: 105px;
}
.yellowpawn4 {
  top: 512px;
  left: 105px;
}
.greenpawn1 {
  top: 153px;
  left: 103px;
}
.greenpawn2 {
  top: 112px;
  left: 144px;
}
.greenpawn3 {
  top: 74px;
  left: 107px;
}
.greenpawn4 {
  top: 112px;
  left: 64px;
}
.bluepawn1 {
  top: 472px;
  left: 504px;
}
.bluepawn2 {
  top: 471px;
  left: 425px;
}
.bluepawn3 {
  top: 434px;
  left: 462px;
}
.bluepawn4 {
  top: 511px;
  left: 464px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.dice-turn {
  padding: 30px 0 0 3px;
}
.player {
  font-size: inherit;
}
