#main {
  width: 1000px;
  float: left;
}
.pawns {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  position: absolute;
}
#board {
  background: url(../assets/Images/board.svg) no-repeat;
  background-size: cover;
  width: 600px;
  height: 600px;
  float: left;
  margin-top: 8px;
}
#uselesstext1 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
footer {
  font-size: larger;
  color: darkred;
}
.dice {
  background-image: url(../assets/Images/dice.gif);
  background-size: contain;
  width: 150px;
  height: 150px;
  float: left;
}
